.aside-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  /* background-color: var(--color-dark--1); */
}

.aside-header {
  flex-grow: 1;
}

.aside-main {
  flex-grow: 3;
  margin-top: calc(25% - 4rem);
  width: 70%;
  background-color: var(--color-dark--2);
}

.aside-footer {
  flex-grow: 1;
}
