input {
  height: 1.4em;
  border: none;
  text-align: center;
  padding: 0.2em 0.5em;
}

/* Hide icon */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
  /* Firefox */
  -moz-appearance: textfield;
}

input[type="number"] {
  max-width: 3em;
}

/* Hide Clock icon */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
