.table-container {
  width: 75%;
  margin: 0 auto;
  overflow: auto;
}

.table-result {
  width: 100%;
  font-family: Nunito, sans-serif;
  border-collapse: collapse;
  overflow: auto;

  & td,
  & th {
    border: 1px solid #ddd;
  }

  & tr {
    text-align: center;
    background-color: #ffffff;
  }

  & th {
    font-size: 1.2em;
    padding-top: 0.6em;
    padding-bottom: 0.4rem;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: #04aa6d;
    color: #fff;
  }

  /*********** Inputs **************/
  & input {
    height: 1.4em;
    border: none;
    text-align: center;
    padding: 0.2em 0.5em;
  }

  /* Hide icon */
  & input[type="number"]::-webkit-outer-spin-button,
  & input[type="number"]::-webkit-inner-spin-button {
    /* Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
    /* Firefox */
    -moz-appearance: textfield;
  }

  & input[type="number"] {
    max-width: 3em;
  }

  /* Hide Clock icon */
  & input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}
