.table-container {
  width: 75%;
  margin: 0 auto;
  overflow: auto;
}

.table-result {
  width: 100%;
  font-family: Nunito, sans-serif;
  border-collapse: collapse;
  overflow: auto;
}

.table-result td,
.table-result th {
  border: 1px solid #ddd;
  padding: 0.6em;
}

.table-result tr {
  font-size: 1em;
  text-align: center;
}

.table-result tr:nth-child(even) {
  background-color: #ffffff;
}

.table-result tr:nth-child(odd) {
  background-color: #f2e9d8;
}

.table-result tr:hover {
  background-color: #ddd;
}

.table-result th {
  font-size: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.4rem;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
